.cartLink {
    font-size: x-large;
    color: cornflowerblue;
    margin: auto 10px;
    border: none;
    border-radius: 5px;
    background: white;
}

.cartLink:hover{
    background: whitesmoke;
    color: rgb(55, 119, 238);
}

.modal__window_cart {
    padding-left: 0;
}

.modal__window_cart h4 {
    text-align: center;
}

.modal {
    background: rgba(0, 0, 0, .8);
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: none;
   justify-content: center;
   align-items: center;
}

.modalView {
  background: rgba(0, 0, 0, .8);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__window {
   max-width: auto;
   height: auto;
   background: white;
   border-radius: 10px;
   padding: 10px 30px;
}

.modal__window_close {
   float: right;
   cursor: pointer;
   color: cornflowerblue;
}

.modal__window_close:hover {
   color: rgb(55, 119, 238);
} 

.modal__window_container {
   padding: 0 auto;
   padding-left: 10px;
   padding-bottom: 10px;
   margin: 0 auto;
   display: flex;
   flex-direction: column;

}

.modal__window_container ul {
   list-style-type: none;
}

.modal__window_container h4 {
   color: cornflowerblue;
}

.modal__window_title {
   text-align: center;
   color: cornflowerblue;
   padding-left: 10px;
}



.modal__window_img {
   width: 50px;
   border-radius: 5px;
}

.modal__window_description {
   color: white;
   margin-left: 5px;
   text-align: center;
   display: flex;
   flex-direction: column;
}

.modal__window_buttons {
   background:  cornflowerblue;
   display: flex;
   flex-direction: column;
   padding: 15px;
   margin: 0 auto;
   border-radius: 5px;
}

.modal__window_buttons span {
   text-align: left;
   padding-left: 25px;
   padding-bottom: 10px;
   padding-top: 10px;
   color: white;
}

.modal__window_buttons #buy{
   background-color: white;
   color: cornflowerblue;
   border: 1px solid rgb(175, 203, 255);
   border-radius: 10px;
   height: 25px;
}

.modal__window_buttons #buy:active {
   background-color:  rgb(188, 204, 255);
}

.modal__window_buttons #buy:disabled {
   color: grey;
   border:gray 1px solid;
}

.modal__window_buttons #deleteProducts {
   background-color:  rgb(255, 184, 184);
   color: rgb(237, 100, 100);
   border: 1px solid rgb(237, 100, 100);
   border-radius: 10px;
   height: 25px;
}

.modal__window_buttons #deleteProducts:active {
   background-color:  rgb(250, 157, 157);
}

.modal__window_buttons #deleteProducts:disabled {
   color: grey;
   border:gray 1px solid;
}

.modal__window_btn {
   margin: 10px 10px;
   width: 25px;
   height: 25px;
   float: right;
   border: 1px solid rgb(255, 184, 184);
   border-radius: 50px;
   background: rgb(237, 100, 100);
   color: white;
}

.modal__window_btn:hover {
   background: rgb(255, 184, 184);
}

.modal__window_btn:active {
   background: rgb(237, 100, 100);
}